{% extends 'layouts/base.html' %}

{% block content %}

<h1>Projects</h1>

{% for project in projects %}
<article class="card">
    <a href="{% url 'projectsById' project.id %}">
        <h3>Project: {{ project.name }}</h3>
        <p>description: {{ project.description }}</p>
        <p>status: {{ project.status }}</p>
    </a>
    <button> ❌ Delete </button>
    <button> ✅ Edit </button>
</article>

{% endfor %}

<div><button> <a href="{% url 'projectsCreate' %}">Create new project</a> </button></div>
{% endblock %}